<form name="form" ng-submit="submit()" novalidate="">

	<rbs-field-text
			property="description"
			label="{{ i18nAttr(propertyKey('Michal_Video_Video', 'description'), ['ucf']) }}">
	</rbs-field-text>

	<form-button-bar></form-button-bar>

</form>