<rbs-links-panel title="{{ i18nAttr('m.rbs.admin.admin.contents', ['ucf']) }}">
	<a href="Michal/Video/Video/" class="rbs-panel-link">{{ i18nAttr('m.michal.video.admin.video_list', ['ucf']) }}</a>
</rbs-links-panel>